<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Update {{teamName}}
        </div>
        <div class="card-body">
            <form (ngSubmit) = "onSubmit(f)" #f="ngForm">
                <div class="mb-3">
                    <label for="" class="form-label">Team Name</label>
                    <input type="text" class="form-control" [(ngModel)] = "teamName" name = "teamName" required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Manager</label>
                    <select class="form-select" [(ngModel)]="manager" name = "manager">
                        <option *ngFor="let employee of employeesList" [ngValue]="employee.firstName + ' ' + employee.lastName">{{employee.firstName}} {{employee.lastName}}</option>
                      </select>
                </div>
                <button class="btn btn-success">Update</button>
                <a class="btn btn-info float-end" routerLink="/teams/">Return</a>
            </form>
        </div>
    </div>
</div>