<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Workplace</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">View Employee List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/roles">View Role List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teams">View Team List</a>
          </li>
        </ul>
      </div>
      <div class="float-end" >
        You're logged in as: {{user.username}}

        <button (click)="onLogoutClick()">LOGOUT</button>
      </div>
    </div>
  </nav>
