<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Update {{firstName}} {{lastName}}
        </div>
        <div class="card-body">
            <form (ngSubmit) = "onSubmit(f)" #f="ngForm">
                <div class="mb-3">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" class="form-control" [(ngModel)] = "firstName" name = "firstName" required minlength="2" maxlength="12" #firstNameLR="ngModel">
                    <span *ngIf="!firstNameLR.valid && firstNameLR.touched">First name has to be between 2 and 12 symbols - {{firstName}}</span> 
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)] = "lastName" name = "lastName" required minlength="2" maxlength="12" #lastNameLR="ngModel">
                    <span *ngIf="!lastNameLR.valid && lastNameLR.touched">Last name has to be between 2 and 12 symbols - {{lastName}}</span> 
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" [(ngModel)] = "email" name = "email" required email #emailLR="ngModel">
                    <span *ngIf="!emailLR.valid && emailLR.touched">Email required to follow email format ( name@mail.com ) - {{email}}</span> 
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Role</label>
                    <select class="form-select" [(ngModel)]="role.id" name = "role">
                        <option *ngFor="let role of roleList" [ngValue]="role.id">{{role.roleName}}</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Team</label>
                    <select class="form-select" [(ngModel)]="team.id" name = "team">
                        <option *ngFor="let team of teamList" [ngValue]="team.id">{{team.teamName}}</option>
                      </select>
                </div>
                <button class="btn btn-success" [disabled]="!f.valid">Update</button>
                <a class="btn btn-info float-end" routerLink="/">Return</a>
            </form>
        </div>
    </div>
</div>